a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

h1.title {
  color: red;
	text-align: center;
	height: 100px;
}
/*Navigation bar.*/
ul#nav {
	list-style-type: none;
  overflow: hidden;
}
/*Login button on hover.*/
ul#nav a#login:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

/*Sign up button on hover.*/
ul#nav a#signup:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

/*Home button on hover.*/
ul#nav a#home:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

/*Events button on hover.*/
ul#nav a#events:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}
/*Contact hover.*/
ul#nav a#contact:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

ul#nav li {
  float: left;
}


.navlinks a {
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  width: 25%;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 2px;
}

.navlinks a:hover {
  color: cyan;
}



/*Home button.*/
ul#nav a#home {
	float: left;
	color: #2ac4c7;
	text-decoration: none;
}

/*Events button.*/
ul#nav a#events {
	float: left;
	color: #2ac4c7;
	text-decoration: none;
}


/*General body.*/
body {
	background-size: cover;
	background-color: #050505;
}

/*The full wrapper. Encompasses all content.*/
#fullwrap {
	top: 10px;
	margin: 0 auto;
	width: 90%;
	position: relative;
	background-color: #1e1f21;
	border: 1px solid #1e1f21;
	border-radius: 20px 20px 20px 20px;
}

/*Title wrapper.*/
#wrappert {
	margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;
	text-align: center;
	width: 100%;
	background-color: #4C5270;
  box-shadow: 0 5px 5px -4px #666;
  z-index: 10;
  position: relative;
}

/*Nav wrapper.*/
#wrapnav {
  padding-top: 1px;
  padding-bottom: 10px;
	width: 100%;
	color: #dbdbdb;
  position: relative;
}

#calendarwrapper {
  float:left;
}

#contentmain {
  width: 100%;
  background-color: #eee;
  padding-top:7px;
  padding-bottom: 7px;
}

/*Intro wrapper.*/
#wrapintro {
  margin: 0 auto;
  padding: 10px;
	text-align: justify;
	width: 90%;
	position: relative;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 17pt;
  line-height: 1.4;
}

/*These will have content.*/
#fillerbox {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	color: #dbdbdb;
	overflow: hidden;
}

/*This IS the content.*/
#filler1 {
	width: 32.5%;
	float: left;
	border-top: 1px solid rgba(30, 31, 33, 0.2);
	border-bottom: 1px solid rgba(30, 31, 330.2);
	border-radius: 20px 20px 20px 0px;
	background-color: #313036;
	height: 100px;
}

/*Lazy way of adding some space.*/
#spacer {
	border: 5px solid #1e1f21;
	float: left;
}

/*This IS the content.*/
#filler2 {
	float: left;
	width: 32.5%;
	border-top: 1px solid rgba(30, 31, 33, 0.2);
	border-bottom: 1px solid rgba(30, 31, 33, 0.2);
	border-radius: 20px 20px 20px 20px;
	background-color: #313036;
	height: 100px;
}

/*This IS the content.*/
#filler3 {
	float: left;
	width: 32.5%;
	border-top: 1px solid rgba(30, 31, 33, 0.2);
	border-bottom: 1px solid rgba(30, 31, 33, 0.2);
	border-radius: 20px 20px 0px 20px;
	background-color: #313036;
	height: 100px;
}

.banner {
  font-size: 16pt;
  text-align: center;
}

/*Ygo wrapper.*/
#ygo {
	text-align: center;
	width: 40%;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(239, 234, 77, 0.2);
	border-radius: 20px 20px 20px 0px;
}

/*This is the side image display.*/
#ygobanner {
	background: transparent url("../banner/YGOBanner2.png") 90% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 33%;
	height: 130px;
	float: left;
	color: #dbdbdb;
}

/*Input for YGO.*/
#ygodesc {
	float: left;
	width: 65%;
	height: 130px;
	color: #dbdbdb;
	text-align: left;
	font-size: 11px;
	padding-left: 7px;
}

/*Title for ygo desc*/
div#ygodesc h2#ygot {
	text-align: center;
	font-size: 15px;
}

/*MTG wrapper*/
#mtg {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(160, 39, 155, 0.2);
	border-radius: 20px 20px 20px 0px;
}

/*MTG Left side image.*/
#mtgbanner {
	background: transparent url("../banner/magicbanner.png") 50% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 33%;
	height: 130px;
	float: left;
	color: #dbdbdb;
}

/*MTG filler text.*/
#mtgdesc {
	float: left;
	width: 66%;
	height: 130px;
	color: #dbdbdb;
	text-align: left;
	font-size: 11px;
	padding-left: 7px;
}
/*MTG desc*/
div#mtgdesc h2#mtgt {
	text-align: center;
	font-size: 15px;
}
/*Nintendo wrapper*/
#nin {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(221, 47, 47, 0.2);
	border-radius: 20px 20px 20px 0px;
}
/*Nintendo banner*/
#ninbanner {
	background: transparent url("../banner/switchbanner.png") 40% 0%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 33%;
	height: 130px;
	float: left;
	color: #dbdbdb;
}
/*Nintendo Description*/
#nindesc {
	float: left;
	width: 66%;
	height: 130px;
	color: #dbdbdb;
	text-align: left;
	font-size: 11px;
	padding-left: 7px;
}
/*Nintendo title*/
div#nindesc h2#nint {
	text-align: center;
	font-size: 15px;
}

footer {
	top: 15px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	color: #dbdbdb;
	overflow: hidden;
}

div#login {

	margin: 0 auto;
	text-align: center;
	width: 400px;
	position: absolute;
	float: right;
	z-index: 1;
	color: #dbdbdb;
	overflow: hidden;
	left: 360px;
	font-size: 14px;
	color: #2ac4c7;
	text-color: #2ac4c7;
}

button[type=submit] {
	background-color: #35373c;
	font-size: 10px;
	height: 18px;
	border: 1px outset #2ac4c7;
	color: #2ac4c7;
	padding-top: 3px;
}

label {
	font-size: 16px;
}


input[type=text], input[type=password] {
	font-size: 12px;
	width: 80px;
	background-color: #35373c;
	color: #2ac4c7;
	border: 1px outset #2ac4c7;
}

/* Dropdown Button */
.dropbtn {
	float: left;
	position: relative;
	color: #2ac4c7;
	text-decoration: none;
	right: 230px;
	background-color: #313036;
	border: none;
	font-size: 15.5px;
  font-family: "Times New Roman", Times, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #35373c;
  min-width: 120px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 163px;
  top: 16px;

}

/* Links inside the dropdown */
.dropdown-content a {
	color: #2ac4c7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	background-color: #313036;
	font-size: 12px;
  	border: 1px outset #2ac4c7;
  	border-radius: 5px 5px 5px 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {	background-color: #35373c;
color: #2ac4c7;
text-shadow: 0px 0.2px;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
background-color: #35373c}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #24dfe3;
	text-shadow: 0px 0.2px;}
