h1.title {
	color: red;
	text-align: center;
	height: 100px;
	
}

ul {
	list-style-type: none;
	position: relative;
}

ul#nav a#login:hover{
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

ul#nav a#signup:hover{
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

ul#nav a#home:hover{
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

ul#nav a#events:hover{
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

ul#nav a#login {
	float: right;
	left: 600px;
	position: absolute;
	color: #2ac4c7;
	text-decoration: none;
}

ul#nav a#signup {
	float: right;
	left: 670px;
	position: absolute;
	color: #2ac4c7;
	text-decoration: none;
}

ul#nav a#fb {
	float: right;
	left: 5px;
	position: absolute;
    background: transparent url("../buttons/facebook.png") no-repeat 50% 0%;
    background-size: 20px 20px;	
}

ul#nav a#twitter {
	float: right;
	left: 30px;
	position: absolute;
    background: transparent url("../buttons/twitter.png") no-repeat 50% 0%;
    background-size: 20px 20px;	
}

ul#nav a#twitch {
	float: right;
	left: 55px;
	position: absolute;
    background: transparent url("../buttons/twitch.png") no-repeat 50% 0%;
    background-size: 20px 20px;	
}

ul#nav a#help {
	float: right;
	left: 760px;
	position: absolute;
    background: transparent url("../buttons/help.png") no-repeat 50% 0%;
    background-size: 20px 20px;
}

ul#nav a#home {
	float: right;
	left: 100px;
	position: absolute;
	color: #2ac4c7;
	text-decoration: none;
}

ul#nav a#events {
	float: right;
	left: 145px;
	position: absolute;
	padding-left: 10px;
	color: #2ac4c7;
	text-decoration: none;
}

p.intro{
	text-align: center;
	font-size: 20px;
	position: relative;
}

body {
    background-size: cover;
    background-color: #050505;
}

#fullwrap {
	top: 10px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #1e1f21;	
	border: 1px solid #1e1f21;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 50px 20px rgba(50,50,50,0.5);
}

#wrappert {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #1e1f21;
}

#wrapnav {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	height: 20px;
}

#wrapintro {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;	
}

#fillerbox {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	color: #dbdbdb;
	overflow: hidden;

	
}

#filler1 {
    width: 32.5%;
    float:left;
    border-top: 1px solid rgba(30,31,33,0.2);
    border-bottom: 1px solid rgba(30, 31, 330.2);
    border-radius: 20px 20px 20px 0px;
 	background-color: #313036;
 	height: 100px;

}
#spacer {
	border: 5px solid #1e1f21;
	float: left;
}

#filler2 {
    float: left;
    width: 32.5%;
    border-top: 1px solid rgba(30,31,33,0.2);
    border-bottom: 1px solid rgba(30,31,33,0.2);
	border-radius: 20px 20px 20px 20px;
	background-color: #313036;
	height: 100px;

}

#filler3 {
	float: left;
    width: 32.5%;
    border-top: 1px solid rgba(30,31,33,0.2);
    border-bottom: 1px solid rgba(30,31,33,0.2);
	border-radius: 20px 20px 0px 20px;
	background-color: #313036;
	height: 100px;

}

#ygo {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(239, 234, 77, 0.2);
	border-radius: 20px 20px 20px 0px;
}

#ygobanner {
	background: transparent url("../banner/YGOBanner2.png") 90% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 130px;
    float:left;
	color: #dbdbdb;

}

#ygodesc {
    float: left;
    width: 66%;
    height: 130px;
 	color: #dbdbdb;
 	text-align: left;
 	font-size: 11px;
 	padding-left: 7px;


}

div#ygodesc h2#ygot {
	text-align: center;
	font-size: 15px;
}

#mtg {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(160,39,155,0.2);
	border-radius: 20px 20px 20px 0px;
}

#mtgbanner {
	background: transparent url("../banner/magicbanner.png") 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 130px;
    float:left;
	color: #dbdbdb;

}

#mtgdesc {
    float: left;
    width: 66%;
    height: 130px;
 	color: #dbdbdb;
 	text-align: left;
 	font-size: 11px;
 	padding-left: 7px;


}

div#mtgdesc h2#mtgt {
	text-align: center;
	font-size: 15px;
}

#nin {
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #313036;
	color: #dbdbdb;
	overflow: hidden;
	border: 1.5px solid rgba(221,47,47,0.2);
	border-radius: 20px 20px 20px 0px;
}

#ninbanner {
	background: transparent url("../banner/switchbanner.png") 40% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 130px;
    float:left;
	color: #dbdbdb;
}

#nindesc {
    float: left;
    width: 66%;
    height: 130px;
 	color: #dbdbdb;
 	text-align: left;
 	font-size: 11px;
 	padding-left: 7px;
}

div#nindesc h2#nint {
	text-align: center;
	font-size: 15px;
}

footer{
	top: 15px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	color: #dbdbdb;
	overflow: hidden;
}