@CHARSET "ISO-8859-1";

input[type=text], [type=password] {
	font-size: 15px;
	width: 200px;
	background-color: #35373c;
	color: #2ac4c7;
	border: 1px outset #2ac4c7;
	display: inline-block;
}
/*General body.*/
body {
	background-size: cover;
	background-color: #050505;
}

/*The full wrapper. Encompasses all content.*/
#fullwrap {
	top: 10px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	background-color: #1e1f21;
	border: 1px solid #1e1f21;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 50px 20px rgba(50, 50, 50, 0.5);
	height: 600px;
	color: #2ac4c7;
}

footer {
	top: 15px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	position: relative;
	color: #dbdbdb;
	overflow: hidden;
}

button[type=submit] {
	background-color: #35373c;
	font-size: 20px;
	border: 1.5px outset #2ac4c7;
	color: #2ac4c7;
	width: 200px;
	height: 40px;
	position: absolute;
	top: 400px;
	left: 300px;
}

ul {
	list-style-type: none;
	position: relative;
}

/*Home button on hover.*/
ul#nav a#home:hover {
	color: #24dfe3;
	text-shadow: 0px 0.2px;
}

/*Home button.*/
ul#nav a#home {
	float: right;
	left: 10px;
	position: absolute;
	color: #2ac4c7;
	text-decoration: none;
}

div#signup {
	padding-top: 10px;
	text-align: center;
	padding: 5px;
}
